### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Data file loaction 
file_location = "C:/Users/12104/OneDrive/Data-Bootcamp/04-Pandas/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_location)

## Player Count

In [2]:
total_users = purchase_data['SN'].nunique()
total_users

576

## Purchasing Analysis (Total)

In [3]:
#Note: nunique returns number of unique elements in the object.
unique_items = purchase_data['Item ID'].nunique()
unique_items

183

In [4]:
average_price = purchase_data['Price'].mean()
average_price

average_price_final = ('${:,.2f}'.format(average_price))
print(average_price_final)

$3.05

In [5]:
total_purchases = purchase_data['Purchase ID'].count()
total_purchases

780

In [6]:
revenue = purchase_data['Price'].sum()
revenue

total_revenue = ('${:,.2f}'.format(revenue))
print(total_revenue)

$2,379.77

In [7]:
summary_table = pd.DataFrame({"Total Users": [total_users],
                              "Total Items": [unique_items],
                              "Average Item Price": [average_price_final],
                              "Total Revenue": [total_revenue]})
summary_table

   Total Users  Total Items Average Item Price Total Revenue
0          576          183              $3.05     $2,379.77

## Gender Demographics

In [8]:
#Total Gender Overview
gender_breakdown = purchase_data['Gender'].value_counts()
gender_breakdown
print(gender_breakdown)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [9]:
#Male Analysis
male_count = purchase_data[purchase_data['Gender'] == 'Male']['SN'].nunique()
male_count

male_percentage = ((male_count/total_users)*100) 
                     
printmale_percentage = ('{:.2f}%'.format(male_percentage))
print(printmale_percentage)

84.03%

In [10]:
#Female Analysis
female_count = purchase_data[purchase_data['Gender'] == 'Female']["SN"].nunique()
female_count

female_percentage = ((female_count/total_users)*100) 
                     
printfemale_percentage = ('{:.2f}%'.format(female_percentage))
print(printfemale_percentage)

14.06%

In [11]:
#Other Analysis
other_count = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']["SN"].nunique()
other_count

other_percentage = ((other_count/total_users)*100) 
                     
printother_percentage = ('{:.2f}%'.format(other_percentage))
print(printother_percentage)

1.91%

In [12]:
#Final Overview
final_demo = pd.DataFrame({"": ['Male', 'Female', 'Other/Non-Disclosed'],
                            "Percentage of Players": [printmale_percentage, printfemale_percentage, printother_percentage],
                            "Total Count": [male_count, female_count, other_count]})
final_demo

                       Percentage of Players  Total Count
0                 Male                84.03%          484
1               Female                14.06%           81
2  Other/Non-Disclosed                 1.91%           11


## Purchasing Analysis (Gender)

In [13]:
#Male Purchasing 
male_purch = purchase_data[purchase_data["Gender"] == "Male"]["Price"].count()

male_priceavg = purchase_data[purchase_data["Gender"] == "Male"]["Price"].mean()
printmale_priceavg = ('${:,.2f}'.format(male_priceavg))


male_pricetotal = purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()
printmale_pricetotal = ('${:,.2f}'.format(male_pricetotal))

male_useravg = male_pricetotal / male_count
printmale_useravg = ('${:,.2f}'.format(male_useravg))

summary_table = pd.DataFrame({"Total Purchases": [male_purch],
                              "Average Purchase Price": [printmale_priceavg],
                              "Total Revenue": [printmale_pricetotal],
                               "Average Per User": [printmale_useravg]})
summary_table

   Total Purchases Average Purchase Price Total Revenue Average Per User
0              652                  $3.02     $1,967.64            $4.07

In [14]:
#Female Purchasing 
female_purch = purchase_data[purchase_data["Gender"] == "Female"]["Price"].count()

female_priceavg = purchase_data[purchase_data["Gender"] == "Female"]["Price"].mean()
printfemale_priceavg = ('${:,.2f}'.format(female_priceavg))

female_pricetotal = purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()
printfemale_pricetotal = ('${:,.2f}'.format(female_pricetotal))

female_useravg = female_pricetotal / female_count
printfemale_useravg = ('${:,.2f}'.format(female_useravg))


summary_table = pd.DataFrame({"Total Purchases": [female_purch],
                              "Average Purchase Price": [printfemale_priceavg],
                              "Total Revenue": [printfemale_pricetotal],
                              "Average Per User": [printfemale_useravg]})
summary_table

   Total Purchases Average Purchase Price Total Revenue Average Per User
0              113                  $3.20       $361.94            $4.47

In [18]:
#Other Purchasing
other_purch = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].count()

other_priceavg = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].mean()
printother_priceavg = ('${:,.2f}'.format(other_priceavg))

other_pricetotal = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].sum()
printother_pricetotal = ('${:,.2f}'.format(other_pricetotal))

other_useravg = other_pricetotal / other_count
printother_useravg = ('${:,.2f}'.format(other_useravg))


summary_table = pd.DataFrame({"Total Purchases": [other_purch],
                              "Average Purchase Price": [printother_priceavg],
                              "Total Revenue": [printother_pricetotal],
                              "Average Per User":[printother_useravg]})
summary_table

   Total Purchases Average Purchase Price Total Revenue Average Per User
0               15                  $3.35        $50.19            $4.56

In [21]:
#Genders Overview
final_purchasing= pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Purchase Count": [male_purch, female_purch, other_purch],
                                        "Average Purchase Price": [printmale_priceavg, printfemale_priceavg, printother_priceavg], "Total Purchase Value": [printmale_pricetotal, printfemale_pricetotal, printother_pricetotal],"Average Purchase Per User":[printmale_useravg,printfemale_useravg,printother_useravg]},
                                        columns = ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value","Average Purchase Per User"])
final_purchasing

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Per User
0,Male,652,$3.02,"$1,967.64",$4.07
1,Female,113,$3.20,$361.94,$4.47
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [32]:
#create age parameters

underten = purchase_data[purchase_data["Age"] <10]
e_teens = purchase_data[(purchase_data["Age"] >=10) & (purchase_data["Age"] <=14)]
h_teens = purchase_data[(purchase_data["Age"] >=15) & (purchase_data["Age"] <=19)]
e_twent = purchase_data[(purchase_data["Age"] >=20) & (purchase_data["Age"] <=24)]
h_twent = purchase_data[(purchase_data["Age"] >=25) & (purchase_data["Age"] <=29)]
e_thirt = purchase_data[(purchase_data["Age"] >=30) & (purchase_data["Age"] <=34)]
h_thirt = purchase_data[(purchase_data["Age"] >=35) & (purchase_data["Age"] <=39)]
e_forty = purchase_data[(purchase_data["Age"] >=40) & (purchase_data["Age"] <=44)]
h_forty = purchase_data[(purchase_data["Age"] >=45) & (purchase_data["Age"] <=49)]

age_demo = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
                        "Percentage of Players": [(underten["SN"].nunique()/total_users)*100, (e_teens["SN"].nunique()/total_users)*100, (h_teens["SN"].nunique()/total_users)*100, (e_twent["SN"].nunique()/total_users)*100, (h_twent["SN"].nunique()/total_users)*100, (e_thirt["SN"].nunique()/total_users)*100, (h_thirt["SN"].nunique()/total_users)*100, (e_forty["SN"].nunique()/total_users)*100, (h_forty["SN"].nunique()/total_users)*100],
                        "Total Count": [underten["SN"].nunique(), e_teens["SN"].nunique(), h_teens["SN"].nunique(), e_twent["SN"].nunique(), h_twent["SN"].nunique(), e_thirt["SN"].nunique(), h_thirt["SN"].nunique(), e_forty["SN"].nunique(), h_forty["SN"].nunique()]
                       })

age_demo_final = age_demo.set_index("Age")
age_demo_final.style.format({"Percentage of Players": "{:,.2f}%"})

## Purchasing Analysis (Age)

In [31]:
purchasing_age = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
                              "Purchase Count": [underten["Price"].count(), e_teens["Price"].count(), h_teens["Price"].count(), e_twent["Price"].count(), h_twent["Price"].count(), e_thirt["Price"].count(), h_thirt["Price"].count(), e_forty["Price"].count(), h_forty["Price"].count()],
                              "Average Purchase Price": [underten["Price"].mean(), e_teens["Price"].mean(), h_teens["Price"].mean(), e_twent["Price"].mean(), h_twent["Price"].mean(), e_thirt["Price"].mean(), h_thirt["Price"].mean(), e_forty["Price"].mean(), h_forty["Price"].mean()], 
                              "Total Purchase Value": [underten["Price"].sum(), e_teens["Price"].sum(), h_teens["Price"].sum(), e_twent["Price"].sum(), h_twent["Price"].sum(), e_thirt["Price"].sum(), h_thirt["Price"].sum(), e_forty["Price"].sum(), h_forty["Price"].sum()],
                              "Average Purchase Per User": [underten["Price"].sum()/underten['SN'].nunique(), e_teens["Price"].sum()/e_teens['SN'].nunique(), h_teens["Price"].sum()/h_teens['SN'].nunique(), 
                                                    e_twent["Price"].sum()/e_twent['SN'].nunique(), h_twent["Price"].sum()/h_twent['SN'].nunique(), 
                                                    e_thirt["Price"].sum()/e_thirt['SN'].nunique(), h_thirt["Price"].sum()/h_thirt['SN'].nunique(), 
                                                    e_forty["Price"].sum()/e_forty['SN'].nunique(), h_forty["Price"].sum()/h_forty['SN'].nunique()]}, 
                             columns = 
                            ["Age", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase Per User"])

purchasing_age_final = purchasing_age.set_index("Age")

purchasing_age_final.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}", "Average Purchase Per User": "${:,.2f}"})

## Top Spenders

In [33]:
#Note .to_frame converts series to DataFrame.
sn_total_purchase = purchase_data.groupby('SN')['Price'].sum().to_frame()
sn_purchase_count = purchase_data.groupby('SN')['Price'].count().to_frame()
sn_purchase_avg = purchase_data.groupby('SN')['Price'].mean().to_frame()


#join DataFrames
sn_total_purchase.columns=["Total Purchase Value"]
join_one = sn_total_purchase.join(sn_purchase_count, how="left")
join_one.columns=["Total Purchase Value", "Purchase Count"]

join_two = join_one.join(sn_purchase_avg, how="inner")
join_two.columns=["Total Purchase Value", "Purchase Count", "Average Purchase Price"]

top_spenders = join_two[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
top_spenders_final = top_spenders.sort_values('Total Purchase Value', ascending=False).head()
top_spenders_final.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})

## Most Popular Items

In [48]:
#merge dataframes to find purchase count, total purchase value for items
#reset indices to dataframes can be merged on specific elements
merge_a = purchase_data.groupby("Item Name").sum().reset_index()
merge_b = purchase_data.groupby("Item ID").sum().reset_index()
merge_c = purchase_data.groupby("Item Name").count().reset_index()

#merge dataframes
mergeone = pd.merge(merge_a, merge_b, on="Price")
mergetwo = pd.merge(merge_c, mergeone, on="Item Name")

#start to create final dataframe by manipulating data
mergetwo["Gender"] = (mergetwo["Price_y"]/mergetwo["Item ID"]).round(2)

mergetwo_renamed = mergetwo.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

#grab columns we are looking for
clean = mergetwo_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

#clean and set formatting for chart 
final_one = clean.set_index(['Item Name', 'Item ID'])
popular_items_final = prefinal_df.sort_values('Purchase Count', ascending=False).head(6)
popular_items_final.style.format({"Item Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

In [46]:
profit_items_final = final_one.sort_values('Total Purchase Value', ascending=False).head()

#Set formatting for chart data 
profit_items_final.style.format({"Item Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})